<div class="row" style="width: 100%;">
  <div
    class="col-xs-12 col-sm-6 col-md-4"
    style="display: flex; justify-content: center; align-items: center; padding: 8px;"
    *ngFor="let character of characters"
  >
    <div style="width: 70%; height: 90%;">
      <a [routerLink]="['/characters-details', character.id]" class="card">
        <div>
          <img [src]="character.image" [alt]="character.name"
            style="width: 100%;"
          />
        </div>
        <article>
          <h1>{{character.name}}</h1>
          <span>{{character.species}}</span>
        </article>
      </a>
    </div>
  </div>
</div>